

body>header {
    background: #a01346;
    padding: 5px;
    background-image: linear-gradient(to right, #FEBF10 , #D91A5F);
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    font-size: 1.2em;
    opacity: 1;

}

body>footer {
    background: #eee;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    margin-top: 50px;
    color: #F47A37;
}

#logged-in-info {
    float: right;
    margin-left: 570px;

}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;

}
body>aside {
    float: right;
    width: 200px;
    background: #FEBF10;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
    color:#3A1027;

}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-style: italic;
}

.home{
    color:#D91A5F;
    margin-top: 30px;


}

.savebtn{ /* added new class savebtn in html */
    background:#FEBF10;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #FEBF10;
}
.posts{
    color:#D91A5F;
    margin-top: 30px;
}

.create-post{
    color:#D91A5F;
    margin-top: 30px;
}

.users{
    color:#D91A5F;
    margin-top: 30px;
}

.user-posts{
    color:#D91A5F;
    margin-top: 30px;
}

.btn btn-info btn-sm{
    background: #FEBF10;
    color: #3A1027;
    border-color:#FEBF10;
}

