body {
    min-height: 100vh;
    position: relative;
}

body>header {
    background-image: linear-gradient(to right, #FEBF10 , #D91A5F);
    padding: 5px;
}

body>header>a>img, body>header a {
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
    font-size: 1.2em;
}

#page-container {
    position: relative;
    /*min-height: 100vh;*/
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

#logged-in-info {
    float: right;
    margin-left: 570px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-style: italic;
}


.savebtn{
    background:#FEBF10;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #FEBF10;
}

.create-post{
    color:#D91A5F;
    margin-top: 30px;
}


