<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">
    <title id="pageTitle">Hustlers Blog</title>
</head>
<body>

    <header th:replace="layout::site-header"/>
   <aside>
        <h2>Recent Posts</h2>
        <a href="#" th:each="p:${latest5Posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">
            Work Begins on HTML 5.1
        </a>
    </aside>

    <div sec:authorize="isAnonymous()" class="d-flex justify-content-center">
            Welcome to the CFH blog site! Click the "Login" or "Register" in the top left to get started
        </p>
    </div>


    <main id="posts">
        <article th:each="p: ${latest3Posts}">
            <h2 class="title" th:text="${p.title}"> Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#dates.format(p.date, 'dd-MMM-yyy')}">19-August-2019</span>
                <span th:if="${p.author}" th:remove="tag">
                <i>by</i>
                <span th:text="${(p.author.fullName) != null?
                            p.author.fullName : p.author.username}"></span>
                </span>
            </div>
            <p class="content" th:utext="${p.body}">Post Content</p>
        </article>
    </main>



</body>
</html>