<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="layout :: site-head">
    <title id="pageTitle">Welcome to Spring MVC Blog</title>
</head>
<!--<head th:replace="layout :: site-head">
    <title th:text="${post.title}">View Post</title>
</head>-->
<body>

    <header th:replace="layout::site-header"/>
   <aside class="recentPost">
        <h3 class="recentPostHeading">Recent Posts</h3>
        <a style="text-align: center; color: #FEBF10" href="#" th:each="p:${latest5Posts}" th:text="${p.title}" th:href="@{/posts/view/{id}/(id=${p.id})}">
            Work Begins on HTML 5.1
        </a>
    </aside>

    <main id="posts">
        <article style="margin-left: 40px" th:each="p: ${latest3Posts}">
            <h2 style="color: #F47A37" class="title" th:text="${p.title}"> Post Title</h2>
            <div class="date">
                <i>Posted on</i>
                <span th:text="${#dates.format(p.date, 'dd-MMM-yyy')}">19-August-2019</span>
                <span th:if="${p.author}" th:remove="tag">
                <i>by</i>
                <span th:text="${(p.author.fullName) != null?
                            p.author.fullName : p.author.username}"></span>
                </span>
            </div>
            <p class="content" th:utext="${p.body}">Post Content</p>
        </article>
    </main>

    <footer th:replace="layout::site-footer"/>

</body>
</html>