<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

    <meta charset="utf-8">
    <meta content="width=device-width" name="viewport">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title th:include=":: #pageTitle">Hustlers Blog </title>
    <link href="../public/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="../public/img/favico.ico" rel="icon" th:href="@{/img/favico.ico}"/>
    <script src="../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../public/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script>

</head>
<body>
<div class="container">
    <header th:fragment="site-header">
        <header>
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
                    <a class="navbar-brand" href="index.html" th:href="@{/}"><img src="../public/img/CFHlogo.png" width="250px" th:src="@{/img/CFHlogo.png}"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav" sec:authorize="isAnonymous()">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link text-dark" href="index.html" th:href="@{/}" >Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/showMyLoginPage}">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/users/register}">Register</a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav" sec:authorize="isAuthenticated()">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link text-dark" href="index.html" th:href="@{/}" >Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/posts}">Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/posts/create}">Create Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/users}">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="posts/index.html" th:href="@{/users/post}">User Posts</a>
                            </li>
                            <li class="nav-item text-dark" id="logged-in-info">
                                <a class="nav-link mr-3 text-dark"  sec:authentication="name">Hello</a>
                            </li>
                            <li class="nav-item">
                                <form method="post" th:action="@{/logout}">
                                    <input style="background: #3A1027; border: #3A1027" class="btn btn-primary" type="submit" value="Logout">
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </header>

        <ul id="messages" th:with="notifyMessages=${session[T(com.hustlers.springboot.
                    blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
            <li th:class="${#strings.toLowerCase(msg.type)}" th:each="msg:${notifyMessages}"
                th:text="${msg.text}">
            </li>
            <span th:if="${notifyMessages}" th:remove="all" th:text="${#session.removeAttribute(
            T(com.hustlers.springboot.blog.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}">
            </span>

        </ul>
    </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
